<h1>The Latest:</h1>

<% if admin_signed_in? %>
    <%= link_to 'New Post', new_post_path %>
<% end %>

<br>
<br>

<div id="posts" class="transitions-enabled">
  <% @posts.each do |post| %>
    <div class="box panel panel-default">
    <div class="panel-body">
      <div class="actions">
        <%= link_to post do %><h3><%= post.title %></h3><% end %>
        <h5>Post created by <strong><%= post.admin.name if post.admin %></strong></h5>
        <%= link_to image_tag(post.image.url(:medium)), post %>
        <br>
        <br>
        <%= link_to post do %>Read More...<% end %>
        <br>
        <br>

        <% if post.admin == current_admin %>

            <%= link_to edit_post_path(post) do %>
                <span class="glyphicon glyphicon-edit"></span>
                Edit
            <% end %>

            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                Delete
            <% end %>

        <% end %>

      </div>
    </div>
    </div>
  <% end %>
</div>