<h1>News Updates:</h1>

<%= link_to 'New post', new_post_path %>

<br>
<br>

<div id="posts" class="transitions-enabled">
  <% @posts.each do |post| %>
    <div class="box panel panel-default">
    <div class="panel-body">
      <div class="actions">
        <h3><%= post.title %></h3><br/>
        <h5>Post created by <%= post.admin.name if post.admin %></strong></h5>
        <%= post.text %>
        <br>
        <br>
        <%= link_to post do %>
        <span class="glyphicon glyphicon-book"></span>
        Read
        <% end %>
        <%= link_to edit_post_path(post) do %>
        <span class="glyphicon glyphicon-edit"></span>
        Edit
        <% end %>
        <%= link_to 'Delete', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="glyphicon glyphicon-trash"></span>
        Delete
        <% end %>
      </div>
    </div>
    </div>
  <% end %>
</div>