
<div class="container">
<div class="jumbotron center">
  <iframe src="//player.vimeo.com/video/66759737" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/66759737">Roadwork Ahead: Official Teaser</a></p>
</div>
                        
<div class="row">
<div class="col-md-8">
  <h1>News</h1>
<% if admin_signed_in? %>
    <h6><%= link_to 'New Post', new_post_path %></h6>
<% end %>

<div id="posts" class="transitions-enabled">
  <% @posts.each do |post| %>
    <div class="box panel panel-default">
    <div class="panel-body">
      <div class="actions">
        <%= link_to post do %><h3><%= post.title %></h3><% end %>
        <h5>Posted by <strong><%= post.admin.name if post.admin %></strong> on 
        <%= post.created_at.strftime("%b %d, %Y") %></h5>
        <!-- <p><%= link_to image_tag(post.image.url(:medium)), post %><p> -->
            <%= truncate post.text, length: 35 %>
        <%= link_to post do %><h6>Read More</h6><% end %>

        <% if post.admin == current_admin %>

            <%= link_to edit_post_path(post) do %>
                Edit
            <% end %>
                <br>
            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
                Delete
            <% end %>

        <% end %>

      </div>
    </div>
    </div>
  <% end %>
</div>
</div>

<div class="col-md-4">
  <h1 align="right">BHP's Twitter</h1>
  <a class="twitter-timeline" href="https://twitter.com/BH_Pictures" data-widget-id="421485262435127296">Tweets by @BH_Pictures</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</div>

<div class="center">
   <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>

</div>