<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
		<p>
			<h3><%= @post.title %></h3><br/>
	        <h5>Post created by <strong><%= @post.admin.name if @post.admin %></strong>
	        </h5>
	        <%= @post.text %>
    	</p>
		
			<%= link_to 'Back', posts_path %>
			
			<% if admin_signed_in? %>
				|  <%= link_to 'Edit', edit_post_path(@post) %>
			<% end %>

	   </div>
	</div>
   </div>
</div>