<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
	    <%= image_tag @post.image.url (:medium) %>
	        </div>
	        <div class="panel-body">
	        	<h2><%= @post.title %></h2>
		        <h5>Post created by <strong><%= @post.admin.name if @post.admin %></strong>
		        </h5>
		        <br>
	        	<%= simple_format @post.text %>
	        <br>

			<% if @post.admin == current_admin %>
				<%= link_to edit_post_path(@post) do %>
	        	Edit
	      		<% end %>
        	<% end %>
        		<br>
        		<%= link_to posts_path do %>
        		Back
        		<% end %>

	   </div>
	</div>
   </div>
</div>