<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <ul class="nav navbar-nav navbar">
          <li><%= link_to image_tag("header.png", :alt => "boathouse"), root_path %></li>
  </ul>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav-alt">
            <li><%= link_to "ABOUT", about_path %></li>
            <li><%= link_to "SERVICES", services_path %>
            <li><%= link_to "MEDIA", media_path %></li>
            <li><%= link_to "CONTACT", contact_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.facebook.com/bhpictures" target="_blank">
              <img src="images/facebook.png"></a></li>
            <li><a href="https://twitter.com/BH_Pictures" target="_blank">
              <img src="images/twitter-2.png"></a></li>
            <li><a href="https://www.pinterest.com/bhpictures" target="_blank">
              <img src="images/pinterest.png"></a></li>
            <!-- <li><a href="https://www.youtube.com/bhpictures" target="_blank">
              <img src="images/youtube.png"></a></li> -->
      </ul>
    </div>
  </div>
</nav>