<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<nav class="navbar-inner navbar-static-top navbar-default" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
          <a><%= link_to image_tag("boathouse_logo_v2.png", :alt => "boathouse"), 
          root_path %></a>
    </ul>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar">
          <li><%= link_to "ABOUT", about_path %></li>
          <li><%= link_to "SERVICES", services_path %>
          <li><%= link_to "MEDIA", media_path %></li>
          <li><%= link_to "CONTACT", contact_path %></li>
      </ul>
      <div id=" nav navbar-socialmedia">
            <a href="https://www.facebook.com/bhpictures" target="_blank">
              <img src="images/facebook.png"></a>
            <a href="https://twitter.com/BH_Pictures" target="_blank">
              <img src="images/twitter-2.png"></a>
            <!-- <li><a href="https://www.pinterest.com/bhpictures" target="_blank">
              <img src="images/pinterest.png"></a></li>
            <li><a href="https://www.youtube.com/bhpictures" target="_blank">
              <img src="images/youtube.png"></a></li> -->
      </div>
  </div>
</nav>


<!-- <div id="block-bean-social-links" class="block block-bean narrow ombubeans-sociallinks">
  <div class="content">
    <div class="entity entity-bean bean-ombubeans-sociallinks clearfix" about="/block/social-links" typeof="">

    <div class="content">
    <a href="https://www.facebook.com/Paramount" class="facebook" target="_blank">Facebook</a><a href="https://twitter.com/ParamountPics" class="twitter" target="_blank">Twitter</a><a href="http://pinterest.com/paramountpics/" class="pinterest" target="_blank">Pinterest</a><a href="https://www.youtube.com/paramount" class="youtube" target="_blank">YouTube</a><a href="/feed" class="rss">RSS</a>  
    </div> -->